:root{
    --bg-gradient : linear-gradient(120deg, #e2c35d, #d88771);
    --font : 'Poppins', sans-serif;
    --primary-color : #fff;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin center-item {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background: var(--bg-gradient);
    color: var(--primary-color);
    font-family: var(--font);
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
    @include center-item;
}

form{
    @include center-item;

    input, button{
        padding: 0.5rem;
        border: none;
        background: var(--primary-color);
        font-size: 2rem;
    }

    input:focus, button:focus{
        outline: none;
    }

    button{
        color: #d88771;
        background: var(--primary-color);
        cursor: pointer;
        transition: all 0.3s ease;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    button:hover{
        color: var(--primary-color);
        background: #d88771;
    }
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;

    .todo-list{
        min-width: 30%;
        list-style: none;
    }

    .todo{
        background-color: #fff;
        color: #000;
        margin-bottom: 10px;
        min-height: 3em;
        display: flex;
        align-items: center;

        transition: all 0.5s ease;

        

        &-item{
            flex: 1;
            padding: 0.75rem 0.5rem;
            transition: all 0.5s ease;
}

        button{
            padding: 1.1rem;
            border: none;
            background-color: #ff6f47;
            cursor: pointer;
            color: var(--primary-color);

            .fa-trash,
            .fa-check{
                pointer-events: none;
            }
        }

        button.btn-complete{
            background-color: rgb(73,204,73);
        }

        button:focus{
            outline: none;
        }
    }
}

.completed{
    text-decoration: line-through;
    background-color: #7777;
    opacity: 0.3;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}



.select{
    margin: 1rem;
    position: relative;
    transition: all 0.3s ease;
    // overflow: hidden;

    /* To reset the select*/
    select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        border: none;
        background-color: #fff;
    }

    select{
        
        color: #ff6f47;
        width: 12rem;
        padding: 1rem 0.5rem;
        cursor: pointer;
    }

    &::after{
        content: "\25bc";
        position: absolute;
        top: 0.68rem;
        right: 1rem;
        color: #ff6f47;
        pointer-events: none;
    }

    &:hover:after{
        color: var(--primary-color);
        background-color: #ff6f47;
        padding: 0.69rem 1rem;
        top: 0;
        right: 0;
    }
    
    
}


